@import '../../vars.scss';

.header {
    background-color: #CEC6DD;
    padding-bottom: $gutter;
    padding-top: $gutter;
}

.header-title {
    font-family: 'Dancing Script', cursive;
    font-size: $gutter;
    color: $white-text;
    text-align: center;
    padding-bottom: 3rem;
}

.nav-container {
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: space-around;
    color: $white-text;
    font-weight: bold;
}

.nav-link{
    color: $white-text;
    text-decoration: underline white;
}