@import '../../vars.scss';

.header {
    background-color: #6c6c6c;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.header-title {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: $white-text;
    text-align: center;
    padding-bottom: 3rem;
}

.nav-container {
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    display: flex;
    justify-content: space-around;
    color: $white-text;
    font-weight: bold;
}

